@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@400;600&display=swap');
@import "tailwindcss";

@layer base {
  * {
    font-family: 'Quicksand', sans-serif;
  }

  h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
  }
}

/* Cache la barre de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scroll Témoignage */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  width: max-content;
}


